<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
   <body>
  <header>
    <h1>Student_ID:N01579677</h1>
  </header>
 <main>
    {{{body}}}
 </main>
  <footer>
    <p> Email: abinmathew004@gmail.com</p>
  </footer>
  </body>
</html>
